.img-wrapper {  
    margin-left: 7px ;
    width: 400px;
    height: auto;
    overflow: hidden;
  }
  
  .inner-img {
    transition: 0.3s;
  }
  .abcd:hover{
      transform: translate(9px,10px);
      background-color: #f6f6f6;
  }

  .img-wrapper {
    display: inline-block;
    box-sizing: border-box;

  }