*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    color: #222222;
    font-weight: 400;
    line-height: 1.35;
    background-color: #a8a2a2;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.section{
    float: left;
    width: 100%;
}
.container{
    float:none;
    width: 1200px;
    margin: 0 auto;
}
.sidebar{
    float: right;
    width: 25%;
}
.content{
    float: right;
    width: 75%;
}
.footer li i{
    font-size: 50px;
    color: #476483;
}
.footer li i:hover{
    color: #788db2;
}
